

body {
    background-color: rgb(47, 144, 209);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    justify-content: center;
  }
  
  h1 {
    color: rgb(235, 235, 238);
    text-align: center;
    font-size: 40px;
    justify-content: center;
  }

  
  p {
    font-family: 'Trebuchet MS', Helvetica, sans-serif; 
    font-size: 20px;
    color:
    
  }

  